<section class="why-choose-us">

    <div class="container">

        <!--=========================
                LEFT IMAGES
        =========================-->

        <div class="choose-images">

            <div class="main-image">
                <img src="/image/choose-1.png" alt="Luxury Bedroom">
            </div>

            <div class="small-image">
                <img src="/image/choose-2.png" alt="Luxury Interior">
            </div>

        </div>

        <!--=========================
                RIGHT CONTENT
        =========================-->

        <div class="choose-content">

            <span class="section-tag">
                WHY CHOOSE US
            </span>

            <h2 class="section-title">
                Building Luxury Homes
                <br>
                With Quality & Trust
            </h2>

            <p class="section-description">
                We create timeless homes with premium craftsmanship,
                modern design, and complete transparency from planning
                to project delivery.
            </p>

            <div class="feature-list">

                <div class="feature-item">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Premium Quality Materials</span>
                </div>

                <div class="feature-item">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Experienced Architects</span>
                </div>

                <div class="feature-item">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Transparent Pricing</span>
                </div>

                <div class="feature-item">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>On-Time Project Delivery</span>
                </div>

            </div>
            <div class="founder-wrapper">
            <div class="founder">
      
                <h4>Abhinav Joshi</h4>

                <p>Founder & CEO</p>

            </div>

            <a href="#" class="choose-btn">
                Learn More
                <i class="bi bi-arrow-right"></i>
            </a>
         </div>
        </div>

    </div>

</section>
