<section class="why-luxury-living">

    <div class="container">

        <!-- SECTION HEADER -->

        <div class="common-section-header">

            <span class="common-subtitle">
                Why Choose Luxury Living
            </span>

            <h2 class="common-title">
                More Than a Home. It's a Lifestyle.
            </h2>

            <p class="common-description">
                Experience refined living with exceptional design,
                premium quality and complete comfort.
            </p>

        </div>


        <!-- BENEFITS -->

        <div class="why-luxury-benefits">

            @for(benefit of benefits; track benefit.title) {

                <div class="why-luxury-benefit-card">

                    <div class="why-luxury-benefit-icon">

                        <i class="bi {{ benefit.icon }}"></i>

                    </div>

                    <h3 class="common-card-title">
                        {{ benefit.title }}
                    </h3>

                    <span class="why-luxury-benefit-line"></span>

                    <p class="common-card-subtitle">
                        {{ benefit.description }}
                    </p>

                </div>

            }

        </div>

    </div>

</section>