<section class="newsletter">

  <div class="container">

    <div class="newsletter-wrapper">


      <!-- =========================
           LEFT CONTENT
      ========================== -->

      <div class="newsletter-left">
         <!-- Subtitle -->

        <span class="common-subtitle">
          Stay Updated
        </span>

        <!-- Icon -->

        <div class="newsletter-icon">

          <i class="bi bi-envelope-paper-heart"></i>

        </div>


       

        <!-- Title -->

        <h2 class="common-title">

          Subscribe to Our
          <br>
          Newsletter

        </h2>


        <!-- Description -->

        <p class="common-description">

          Get the latest real estate news,
          buying tips, investment insights
          and property updates directly
          in your inbox.

        </p>

      </div>



      <!-- =========================
           RIGHT CONTENT
      ========================== -->

      <div class="newsletter-right">


        <!-- Image -->

        <img
          src="/image/newslatter.png"
          alt="Newsletter"
          class="newsletter-image">


        <!-- Form -->

        <form class="newsletter-form">


          <input
            type="email"
            placeholder="Enter your email address"
            class="common-input">


          <button
            type="submit"
            class="common-btn">

            Subscribe

            <i class="bi bi-arrow-right"></i>

          </button>

        </form>



        <!-- Features -->

        <div class="newsletter-features">


          <!-- Feature 1 -->

          <div class="newsletter-feature">

            <i class="bi bi-house-door"></i>

            <span class="common-text">
              Expert Tips
            </span>

          </div>


          <!-- Feature 2 -->

          <div class="newsletter-feature">

            <i class="bi bi-graph-up-arrow"></i>

            <span class="common-text">
              Market Updates
            </span>

          </div>


          <!-- Feature 3 -->

          <div class="newsletter-feature">

            <i class="bi bi-award"></i>

            <span class="common-text">
              Best Deals
            </span>

          </div>


        </div>

      </div>

    </div>

  </div>

</section>