<section class="plot-buying-process">

  <div class="container">

    <!-- SECTION HEADER -->

    <div class="common-section-header">

      <span class="common-subtitle">
        Plot Buying Process
      </span>

      <h2 class="common-title">
        Simple &amp; Transparent Process
      </h2>

      <p class="common-description">
        Find Your Plot. Follow the Simple Steps.
      </p>

    </div>


    <!-- PROCESS -->

    <div class="plot-process-wrapper">

      @for(step of steps; track step.number){

        <div class="plot-process-card">

          <!-- STEP NUMBER -->

          <div class="plot-step-number">
            {{ step.number }}
          </div>


          <!-- ICON -->

          <div class="plot-process-icon">

            <i class="bi {{ step.icon }}"></i>

          </div>


          <!-- CONTENT -->

          <h3 class="common-card-title">
            {{ step.title }}
          </h3>

          <span class="plot-process-line"></span>

          <p class="common-card-subtitle">
            {{ step.description }}
          </p>

        </div>

      }

    </div>

  </div>

</section>